<h1>Report an outage in your area</h1>
<md-content layout-padding>
	<div>
		<form name="userForm" novalidate>
			<div layout-gt-xs="row">
				<md-input-container class="md-block" flex-gt-xs>
					<label>Account #</label>
					<input required ng-model="vm.accountNumber">
					<div ng-messages="userForm.accountNumber.$error" role="alert">
						<div ng-message="required" class="my-message">You must supply an account number, this should be on your paper bill.</div>
					</div>
				</md-input-container>
				<md-input-container class="md-block" flex-gt-sm>
					<label>First Name</label>
					<input required ng-model="vm.firstName">
				</md-input-container>
				<md-input-container class="md-block" flex-gt-sm>
					<label>Last Name</label>
					<input required ng-model="vm.lastName">
				</md-input-container>
				<md-input-container class="md-block" flex-gt-sm>
					<label>Street Address</label>
					<input required ng-model="vm.streetAddress">
				</md-input-container>
				<md-input-container class="md-block" flex-gt-sm>
					<label>City</label>
					<input required ng-model="vm.city">
				</md-input-container>
				<md-input-container class="md-block" flex-gt-sm>
					<label>State</label>
					<md-select required ng-model="vm.state">
		              <md-option ng-repeat="stateAbr in vm.states" value="{{stateAbr}}">
		                {{stateAbr}}
		              </md-option>
		            </md-select>
				</md-input-container>

				<md-input-container class="md-block" flex-gt-sm>
					<label>Postal Code</label>
					<input name="postalCode" ng-model="vm.zipcode"
					required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
					<div ng-messages="userForm.postalCode.$error" role="alert" multiple>
						<div ng-message="required" class="my-message">You must supply a postal code.</div>
						<div ng-message="pattern" class="my-message">That doesn't look like a valid postal
					code.
						</div>
					</div>
				</md-input-container>

				<md-button class="md-raised md-primary" ng-click="vm.onSubmit()">Submit</md-button>
			</div>
		</form>
	</div>
</md-content>

<h2>Map</h2>
<uc-google-map zoom="4"></uc-google-map>

